


<div class="headerSection fullwidth">
  <div class="wrapper">
    <div class="headerInner flexwrap alignCenter">
      <div class="headLeft">
        <div class="headLogo">
          {% set loadingAttr = module.logo_field.loading != 'disabled' ? '{{ module.logo_field.loading }}' : '' %}

{% logo
	override_inherited_src="{{ module.logo_field.override_inherited_src }}"
	src="{{ module.logo_field.src }}"
	alt="{{ module.logo_field.alt }}"
	width="{{ module.logo_field.width }}"
	height="{{ module.logo_field.height }}"
	loading="{{ loadingAttr }}"
	suppress_company_name="{{ module.logo_field.suppress_company_name }}"
%}
          
        </div>
        <div class="headNav">
          <div class="menuTrigger">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
      
      <div class="headRight">

        
        
      </div>
      
      
      
    </div>
  </div>
</div>
