.new-blogPagination {
    gap: 5px;
}

.new-blogPagination a {
    width: 35px !important;
    height: 35px;
    color: #8E8D89;

}
.arrow-image{
    width: 28px;
    height: 28px;
}

.prev-link.disabled ,.next-link.disabled{
    opacity: 0.5;
    pointer-events: none; 
}

.prev-link.disabled:hover,.next-link.disabled{
    cursor: not-allowed;
}

