{% set my_tags = blog_tags( module.select_blog) %}
{% set all_blog_posts = blog_recent_posts(module.select_blog) %}
{% set resource_types = [] %}

<div class="blog_listing-section fullwidth">
    <div class="wrapper">
        <div class="blog-listing_section">
            <div class="blog-search-filters-section blog-search-filter_desktop">
                <div class="blog-filter-section">
                    <div class="blog-topic-filter">
                        <div class="blog-topic-filter_container">
                            <div class="select-dropdown">
                                <button href="#" role="button" data-value="" class="select-dropdown__button"
                                    id="selectedTagButton"><span>Resource
                                        topic</span>
                                    <div class="dropdown-icon-topic">
                                        <img src="https://5887777.fs1.hubspotusercontent-na1.net/hubfs/5887777/Icon.svg"
                                            alt="" srcset="">
         
                                        </div>
                                </button>
                                <ul class="select-dropdown__list">
                                    <li>
                                    {% for tag in my_tags %}
                                    <li class="select-dropdown__list-item" data-value="{{ tag }}"><span>
                                        {{ tag }}
                                    </span>
                                    </li>
                                    {% endfor %} 
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="blog-type-filter">
                        <div class="blog-topic-filter_container">
                            <div class="select-dropdown">
                                <button href="#" role="button" data-value=""
                                    class="select-dropdown__button"><span>Resource
                                        Type</span>
                                    <div class="dropdown-icon">
                                        <img src="https://5887777.fs1.hubspotusercontent-na1.net/hubfs/5887777/Icon.svg"
                                            alt="" srcset="">
                                    </div>
                                </button>
                                <ul class="select-dropdown__list">
                                    {% for content in contents %}
                                    {% for module in content.widgets %}
                                    {% set resource_type = module.body.blog_resource_type | lower %}
                                    {% if resource_type and resource_type not in resource_types %}
                                    {% set _ = resource_types.append(resource_type) %}
                                    <li data-value="{{ loop.index }}" class="select-dropdown__list-item">
                                       <span>
                                        {{ resource_type }}
                                       </span> </li>
                                    {% endif %}
                                    {% endfor %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog-search_section">
                    <div class="search-container" id="searchContainer">
                        <input class="search-container-input" type="text" name="" id="searchInput" placeholder="Search">
                        <div class="blog-search-icon">
                            <img src="https://5887777.fs1.hubspotusercontent-na1.net/hubfs/5887777/search.svg" class="search-icon" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class=" blog-search-filter_mobile">
                <div class="blog-filter_mobile">
                    <button href="#" role="button" data-value=""
                            class="blog-search-filter-btn modal-filterBtn"><span>Filter</span></button>
                </div>
                <div class=" blog-search_mobile">
                    <button href="#" role="button" class="blog-search-filter-btn modal-searchBtn"
                        data-value=""><span>Search</span>
                    </button>
                </div>
            </div>
            <div class="search-modal">
                <div class="search-header">
                    <h3>
                        Search
                    </h3>
                    <div class="close-icon">
                        <img src="https://7222284.fs1.hubspotusercontent-na1.net/hubfs/7222284/x.svg" alt="">
                    </div>

                </div>
                <div class="horizontal-line"></div>
                <div class="blog-search-section-container">
                    <div class="blog-search_section blog-modal-search_section">
                        <div class="search-container" id="mobile-searchContainer">
                            <input class="search-container-input" type="text" name="" id="mobile-search-input"
                                placeholder="Search">
                            <div class="blog-search-icon">
                                <img src="https://5887777.fs1.hubspotusercontent-na1.net/hubfs/5887777/search.svg" class="modal-search-icon search-icon"
                                    alt="">
                            </div>
                        </div>
                        <div class="error-msg">
                            <span>Please enter a search term.</span>

                        </div>
                    </div>

                    <div>
                        <button href="#" role="button" class="blog-search-filter-btn modal-search_btn"
                            data-value=""><span>Search</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="filter-modal">
                <div class="filter-header">
                    <h3>
                        Filter Results
                    </h3>
                    <div class="filter-close-icon">
                        <img src="https://7222284.fs1.hubspotusercontent-na1.net/hubfs/7222284/x.svg" alt="">
                    </div>

                </div>
                <div class="horizontal-line"></div>
                <div class="blog-filter-section-container">
                    <div class=" blog-modal-filter_section">
                        <div class="blog-modal_topic-filter">
                            <span>Resource
                                topic</span>
                            <ul class="blog-modal_topic-list">

                                {% for tag in my_tags %}
                                <li class="modal-select-dropdown__list-item" data-value="{{tag}}">{{ tag }}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="blog-modal_type-filter">
                            <span>Resources
                                Type</span>
                            <ul class="blog-modal_type-list">
                                {% set resource_types = [] %}
                                {% for content in contents %}
                                {% for module in content.widgets %}
                                {% set resource_type = module.body.blog_resource_type | lower %}
                                {% if resource_type and resource_type not in resource_types %}
                                {% set _ = resource_types.append(resource_type) %}
                                <li data-value="{{ resource_type }}" class="modal-select-dropdown__list-item-type">{{ resource_type }}</li>
                                {% endif %}
                                {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div>
                        <button href="#" role="button" class="blog-search-filter-btn modal-filter_btn"
                            data-value=""><span>Filter</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="search-result">
                <h5>
                    Search results for: <span class="search-input"></span>
                </h5>

            </div>
            <div class="no-result-container">
              <span class="no-result"></span>
            </div>
            <div class="blog-list_container">
                {% for content in contents %}
                <div class="blog-list_wrapper" data-tags="{% for tag in content.tag_list %}{{ tag }},{% endfor %}">
                    <div class="blog-feature-image">
                        <a href="{{ content.absolute_url  }}">
                            <img src="{{ content.featured_image }}" alt="featured_image">
                        </a>
                    </div>
                    <div class="blog-content-wrapper">
                        <div class="blog-type">
                            {% for module in content.widgets %}
                            <span class="blog-type-wrapper"> {{module.body.blog_resource_type }} </span>
                            {% endfor %}
                        </div>
                        <div class="blog-title">
                            {% if content.name  %}
                            <a href="{{ content.absolute_url }}">
                                <h3>
                                    {{ content.name }} 
                                </h3>
                                
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
               
            </div>

        </div>
    </div>
</div>



{% require_css %}
<style>
    {% scope_css %}
    .blog_listing-section{
        {{ module.styles.spacing.spacing_desktop.css }}

    }

.select-dropdown__button span {
    text-transform: {{ module.text_transform }};

}
.blog-content-wrapper{
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.blog-type {
    text-align: {{ module.blog_type_style.title_alignment }};

}


.blog-type-wrapper {
    font-family: "National";
    opacity: {{ module.blog_type_style.background_color.opacity }};
    background:{{ module.blog_type_style.background_color.color }};
    color:{{ module.blog_type_style.text_font.color|escape_attr }}; 
    font-size: {{ module.blog_type_style.text_font.size|escape_attr }}{{module.blog_type_style.text_font.size_unit|escape_attr }};  
    display: inline-block;
    font-weight: 900;
    text-transform: {{ module.blog_type_style.text_transform }};
    padding: 5px 10px;
    letter-spacing: 1.92px;
}
@media(max-width:992px) {
    .blog_listing-section{
        {{ module.styles.spacing.spacing_tablet.css }}

    }


}
@media(max-width:778px) {
    .blog_listing-section{

        {{ module.styles.spacing.spacing_mobile_.css }}
    }

}
@media(max-width:375px){
    .blog-title h3 {
    font-size: 28px;
    line-height: 30.2px;
}
}


{% end_scope_css %}
</style>
{% end_require_css %}