{# Default menu item classes #}

{% macro defaultItemClasses() %}
 {{
  {
    "class": "no-submenu menu-item hs-skip-lang-url-rewrite"
  }|xmlattr
 }}
{% endmacro %}

{# Menu item classes if a menu item has a child menu #}

{% macro childItemClasses() %}
 {{
  {
    "class": "has-submenu menu-item hs-skip-lang-url-rewrite"
  }|xmlattr
 }}
{% endmacro %}

{# Menu item link attributes if the menu item is the current active page #}

{% macro activeNode() %}
 {{
  {
    "class": "menu-link active-item",
  }|xmlattr
 }}
{% endmacro %}

{# Menu item link classes if menu item is the parent of the current active page #}

{% macro activeBranch() %}
 {{
  {
    "class": "menu-link active-branch"
  }|xmlattr

 }}
{% endmacro %}

{# Menu item link attribute if the menu item is set to open in a new window #}

{% macro linkTarget() %}
{{
  {
    "target": "_blank",
    "rel": "noopener"
  }|xmlattr
}}
{% endmacro %}

{# Navigation menu item macro #}

{% macro link(node) %}

  <li {{ childItemClasses() if node.children else defaultItemClasses() }}>
    <a href="{{ node.url if node.url else "javascript:;" }}" class="menu-link" {{ activeBranch() if node.activeBranch }} {{ activeNode() if node.activeNode }} {{ linkTarget() if node.linkTarget }}>{{ node.label }}</a>

    {% if node.children %}
      <input type="checkbox" id="{{ node.label }}" class="submenu-toggle">
      <label class="menu-arrow" for="{{ node.label }}">
        <span class="menu-child-toggle-icon">
          {% icon name="chevron-down" style="SOLID", width="16", purpose="semantic", title="Open the submenu", no_wrapper=True %}
        </span>
      </label>
      {{ renderNavigation(node) }}
    {% endif %}
  </li>

{% endmacro %}

{# Navigation submenu macro #}

{% macro renderNavigation(menuTree) %}
  {% set level = level + 1 %}
  <ul class="submenu level-{{ level }}">
    {% for node in menuTree.children %}
      {{ link(node) }}
    {% endfor %}
  </ul>
{% endmacro %}

{# Main navigation wrapper #}

<nav aria-label="Main menu" class="navigation-primary">
  {{ renderNavigation(menu(module.primary_menu_field)) }}
</nav>
