
<div class="headerSection fullwidth">
  <div class="wrapper">
    <div class="headerInner flexwrap alignCenter">
      <div class="headLeft">
        <div class="headLogo">
          {% set href = module.header_logo.link_field.url.href %}
          {% if module.header_logo.link_field.url.type is equalto "EMAIL_ADDRESS" %}
            {% set href = "mailto:" + href %}
          {% endif %}
          <a href="{{ href }}"
            {% if module.header_logo.link_field.open_in_new_tab %}target="_blank"{% endif %}
            {% if module.header_logo.link_field.rel %}rel="{{ module.header_logo.link_field.rel }}"{% endif %}
            >
            {% if module.header_logo.logo.src %}
            {% set sizeAttrs = 'width="{{ module.header_logo.logo.width }}" height="{{ module.header_logo.logo.height }}"' %}
            {% if module.header_logo.logo.size_type == 'auto' %}
              {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
            {% elif module.header_logo.logo.size_type == 'auto_custom_max' %}
              {% set sizeAttrs = 'width="{{ module.header_logo.logo.max_width }}" height="{{ module.header_logo.logo.max_height }}" style="max-width: 100%; height: auto;"' %}
            {% endif %}
             {% set loadingAttr = module.header_logo.logo.loading != 'disabled' ? 'loading="{{ module.header_logo.logo.loading }}"' : '' %}
            <img src="{{ module.header_logo.logo.src }}" alt="{{ module.header_logo.logo.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
          {% endif %}
          </a>
        </div>
        <div class="headNav">
          <div class="menuTrigger">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
      
      <div class="headRight">
        <div class="headMenu">
         {% menu "my_menu" id={{ module.header_menu.menu_field }}, site_map_name='Default', overrideable=False, root_type='site_root', flyouts='true', max_levels='2', flow='horizontal', label='Advanced Menu' %}
        </div>
        <div class="headButton">
          {% set href = module.header_button.button_link.url.href %}
            {% if module.header_button.button_link.url.type is equalto "EMAIL_ADDRESS" %}
              {% set href = "mailto:" + href %}
            {% endif %}
            <a href="{{ href }}"
              {% if module.header_button.button_link.open_in_new_tab %}target="_blank"{% endif %}
              {% if module.header_button.button_link.rel %}rel="{{ module.header_button.button_link.rel }}"{% endif %}
              >
              {{ module.header_button.button_text }}
            </a>
        </div>
      </div>
      
      
      
    </div>
  </div>
</div>
