.related-post_container {
    display: grid;
    grid-template-columns: 20% 23% 23% 23%;
    justify-content: space-between;

}

.related-posts,
.related-post-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.related-all-posts a {
    display: flex;
    gap: 10px;

}

.related-posts:nth-child(4) {
    border: none;
}

.related-posts {
    border-right: 1.3px solid #BFBEBB;
}


.related-posts span {
    text-transform: uppercase;
    color: #BFBEBB;
    letter-spacing: 1.92px;
    font-weight: 800;
}

.related-posts a h4 {
    margin: 0;
}

.related-all-posts a:hover {
    gap: 15px;
}

.related-all-posts a span {
    font-size: 20px;
}


.related-post-title h2 {
    font-weight: 400;
    line-height: 52px;
    font-size: 52px;
    letter-spacing: -0.52px;
    margin: 0;

}

.rel_arrow-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rel_arrow-container {
    max-width: 30px;
    max-height: 30px;
}

.mobile-view {
    display: none;
}

@media (max-width:1220px) {
    .related-all-posts a span {
        font-size: 16px;
    }

    .related-post-title h2 {
        font-size: 42px;

    }

}

@media(max-width:992px) {
    .desktop-view {
        display: none;
    }

    .mobile-view {
        display: block;
        margin-top: 20px;
    }

    .related-all-posts a span {
        font-size: 20px;
    }

    .related-post_container {
        grid-template-columns: 1fr;
        gap: 25px;
        border-top: 1.5px solid #900;
        padding-top: 25px;
    }

    .related-post-title h2 {
        font-size: 46px;
        margin-bottom: 20px;
    }

    .related-posts {
        border-right: none;
    }

}