{% macro recent_post(post, count, total) %}
{% if count == 1 %}
<div class="fullwidth related-posts_section">
    <div class="wrapper">
        <div class="related-post_container">
            <div class="related-post-title">
                <h2>{{ module.title }}</h2>
                <div class="related-all-posts desktop-view">
                    <a href="{{group.absolute_url}}">
                        <span>{{ module.view_all_blogs }}</span>
                        <div class="rel_arrow-container">
                            <img src="https://7222284.fs1.hubspotusercontent-na1.net/hubfs/7222284/Group%2043.svg"
                                alt="">
                        </div>
                    </a>
                </div>
            </div>
            {% endif %}
            <div class="related-posts">
                <a href="{{ post.absolute_url }}">
                    <h4>
                        {{ post.name }} 

                    </h4>
                </a>
                {% for module in post.widgets %}
                <span>{{module.body.blog_resource_type }}</span>
                {% endfor %}
            </div>
            
            {% if count == total %}
            <div class="related-all-posts mobile-view">
                <a href="{{group.absolute_url}}">
                    <span>{{ module.view_all_blogs }}</span>
                    <div class="rel_arrow-container">
                        <img src="https://7222284.fs1.hubspotusercontent-na1.net/hubfs/7222284/Group%2043.svg"
                            alt="">
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endmacro %}
{% set tagNames = content.tag_names %}
{% related_blog_posts limit=3, post_formatter="recent_post",tags="{{tagNames|join(',')}}",  no_wrapper=True %}

{% require_css %}
<style>
    {% scope_css %}
    .related-posts_section{
        {{ module.styles.spacing.spacing_desktop.css }}

    }
    @media(max-width:992px){

    .related-posts_section{
        {{ module.styles.spacing.spacing_tablet.css }}

    }
}
@media(max-width:768px){

    .related-posts_section{
        {{ module.styles.spacing.spacing_mobile_.css }}
        
    }
}
    {% end_scope_css%}
</style>
{% end_require_css %}