.headerInner {
    justify-content: space-between;
}

.lang-option {
    line-height: 1.5;
    border-bottom: 1px solid #000;
}

.lang-option.active {
    color: #900;
    border-bottom: 1px solid #900;
}

a.lang-option:hover {
    border-bottom: 1px solid #900;
}

.headerSection {
  background:white;
}

.hs-menu-item a {
    text-transform: uppercase;
    border-bottom: 1px solid #fff;

}

.hs-menu-item a:hover {
    border-bottom: 1px solid #000;
}

li.hs-menu-item.hs-menu-depth-1.active.active-branch a {
  color: #900;
}