{# recommend to put the next two lines at the top since you won't need to search for it and it will be used in several places later in the code #}
{% set currLang = content.language.languageTag %}
{% set codes = {'English': 'en','Español': 'es'} %} 
{# here you set all the display names and language tags - you can modify, add/remove as you need - they have to be exactly! like en, en-gb, en-us...#}

<div class="headerSection fullwidth">
  <div class="wrapper">
    <div class="headerInner flexwrap alignCenter">
      <div class="head">
        <div class="headLogo">
         {% set loadingAttr = module.logo_field.loading != 'disabled' ? '{{ module.logo_field.loading }}' : '' %}

          {% logo
            override_inherited_src="{{ module.logo_field.override_inherited_src }}"
            src="{{ module.logo_field.src }}"
            alt="{{ module.logo_field.alt }}"
            width="{{ module.logo_field.width }}"
            height="{{ module.logo_field.height }}"
            loading="{{ loadingAttr }}"
            suppress_company_name="{{ module.logo_field.suppress_company_name }}"
          %}
          
        </div>
        <div class="headNav">
        </div>
      </div>
      
      <div class="lang-switch">
        
       {% menu id="{{ module.menu_field }}" %}
       
      </div>
      
      
      
    </div>
  </div>
</div>
