<!--
  templateType: error_page
  isAvailableForNewContent: true
  label: Session - 500 error
  screenshotPath: ../../images/template-previews/500.png
-->
{% set template_css = "../../css/templates/system.css" %}
{% extends "../layouts/base.html" %}

{% block body %}
<main class="body-container-wrapper">
  <section class="content-wrapper">
    <div class="error-page" data-error="500">
      {% module "content"
        path="@hubspot/rich_text",
        html="<h1>Something isn't quite right</h1><p>Sorry, an internal server error occurred. But have no fear, we're on the case!</p>"
      %}
    </div>
  </section>
</main>
{% endblock body %}
