<!--
  templateType: email_backup_unsubscribe_page
  isAvailableForNewContent: true
  label: Session - email backup unsubscribe
  screenshotPath: ../../images/template-previews/backup-unsubscribe.png
-->
{% set template_css = "../../css/templates/system.css" %}
{% extends "../layouts/base.html" %}

{% block body %}
<main class="body-container-wrapper">
  <section class="content-wrapper">
    <div class="systems-page">
      {% module "backup_unsubscribe"
        extra_classes="backup-unsubscribe",
        path="@hubspot/email_simple_subscription"
      %}
    </div>
  </section>
</main>
{% endblock body %}
