<!--
  templateType: membership_reset_request_page
  isAvailableForNewContent: true
  label: Session - reset password request
  screenshotPath: ../../images/template-previews/membership-reset-password-request.png
-->
{% set template_css = "../../css/templates/system.css" %}
{% extends "../layouts/base.html" %}

{% block header %}
{% endblock %}

{% block body %}
<main class="body-container-wrapper">
  <section class="content-wrapper">
    <div class="systems-page">
      {% module "content"
        path="@hubspot/rich_text",
        html="<h4>Reset your password</h4><p>What email address should we send a password reset email to?</p>"
      %}
      <div class="form-container">
        {% password_reset_request "my_password_reset_request"
          email_label="Email",
          submit_button_text="Send Reset Email"
        %}
      </div>
      <div>
        {% module_block module "membership_admin_content"
          label="Contact admin",
          path="@hubspot/rich_text"
        %}
          {% module_attribute "html" %}
            <p>Having trouble? <a href="{{"mailto:" ~ site_settings.membershipWebsiteAdmin}}">Contact the admin</a>.</p>
          {% end_module_attribute %}
        {% end_module_block %}
      </div>
    </div>
  </section>
</main>
{% endblock %}
