<!--
  templateType: password_prompt_page
  isAvailableForNewContent: true
  label: Session - password prompt
  screenshotPath: ../../images/template-previews/password-prompt.png
-->
{% set template_css = "../../css/templates/system.css" %}
{% extends "../layouts/base.html" %}

{% block body %}
<main class="body-container-wrapper">
  <section class="content-wrapper">
    <div class="systems-page">
      {% module "content"
        path="@hubspot/rich_text",
        html="<h1>Password Required</h1><p>Please enter the password required to view this page.</p>"
      %}
      {% module "password_prompt"
        extra_classes="password-prompt",
        path="@hubspot/password_prompt"
      %}
    </div>
  </section>
</main>
{% endblock body %}
