<!--
  templateType: search_results_page
  isAvailableForNewContent: true
  label: Session - search results
  screenshotPath: ../../images/template-previews/search-results.png
-->
{% set template_css = "../../css/templates/system.css" %}
{% extends "../layouts/base.html" %}

{% block body %}
<main class="body-container-wrapper">
  <section class="content-wrapper">
    <div class="systems-page systems-page--search-results">
      {% module_block module "search_results_content"
        label="Search results heading",
        path="@hubspot/rich_text"
      %}
        {% module_attribute "html" %}
          <h1>Results for "{{ request.query_dict.term|escape }}"</h1>
        {% end_module_attribute %}
      {% end_module_block %}
      {% module "module_17138779988282" path="/ATRI Theme/modules/search_results", label="search_results" %}
    </div>
  </section>
</main>
{% endblock body %}
