<!--
  templateType: email_subscriptions_confirmation_page
  isAvailableForNewContent: true
  label: Session - email subscriptions confirmation
  screenshotPath: ../../images/template-previews/subscriptions-confirmation.png
-->
{% set template_css = "../../css/templates/system.css" %}
{% extends "../layouts/base.html" %}

{% block body %}
<main class="body-container-wrapper">
  <section class="content-wrapper">
    <div class="systems-page">
      {% module "subscriptions_confirmation"
        path="@hubspot/email_subscriptions_confirmation"
      %}
    </div>
  </section>
</main>
{% endblock body %}
