.social-links {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.social-links__icon {
  background-color: transparent;
  border-radius: 4px;
  display: inline-block;
  margin: 0 0.7rem 0.35rem 0;
  padding: 0.7rem;
}

.social-links__icon svg {
  fill: #34b5e6;
  height: 15px;
  width: auto;
}

.social-links__icon:hover,
.social-links__icon:focus,
.social-links__icon:active {
  background-color: transparent;
}

.social-links__icon:hover svg,
.social-links__icon:focus svg,
.social-links__icon:active svg {
  fill: #34b5e6;
}

/*Custom CSS*/
a.social-links__link span{
line-height: 0;
}