.content-wrapper {
  margin: 0 auto;
  padding: 0 20px;
}

.dnd-section > .row-fluid {
  margin-left: auto;
  margin-right: auto;
}

/* .dnd-section .dnd-column {
  padding-left: 20px;
  padding-right: 20px;
} */

@media (max-width: 767px) {
  .dnd-section .dnd-column {
    padding-left: 0;
    padding-right: 0;
  }
}
