

<div class="blog_listing-section fullwidth">
    <div class="wrapper">
            <div class="blog-list_container"  id="blogs-id" data-id="{{group.id}}">                         
                {% for content in contents %}
                
                {% for module in content.widgets %}
                {% if module.body.blog_resource_type =="videos" %} 
                {% if loop.index == 1 %}
                <div class="blog-list_wrapper" data-tags="{% for tag in content.tag_list %}{{ tag }},{% endfor %}">
                    <div class="blog-feature-image">
                        <a href="{{ content.absolute_url  }}">
                            <img src="{{ content.featured_image }}" alt="featured_image">
                        </a>
                    </div>
                    <div class="blog-content-wrapper">
                        <div class="blog-type">
                            {% for module in content.widgets %}
                            <span class="blog-type-wrapper"> {{module.body.blog_resource_type }} </span>
                            {% endfor %}
                            {% for tag in content.tag_list %}
                            <span>
                                    {{ tag.name }}   
                                </span>
                        
                                
                            {% endfor %}  
                        </div>
                        <div class="blog-title">
                            {% if content.name  %}
                            <a href="{{ content.absolute_url }}">
                                <h3 > 
                                    {{ content.name }}
                                </h3>
                                
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}   
                
                {% endif %}
                {% endfor %}
                {% endfor %}

               
            </div>
    </div>
</div>




{% require_css %}
<style>
    {% scope_css %}
    .blog_listing-section{
        {{ module.styles.spacing.spacing_desktop.css }}

    }

.select-dropdown__button span {
    text-transform: {{ module.text_transform }};

}

.blog-type {
    text-align: {{ module.blog_type_style.title_alignment }};

}


.blog-type-wrapper {
    font-family: "National";
    opacity: {{ module.blog_type_style.background_color.opacity }};
    background:{{ module.blog_type_style.background_color.color }};
    color:{{ module.blog_type_style.text_font.color|escape_attr }}; 
    font-size: {{ module.blog_type_style.text_font.size|escape_attr }}{{module.blog_type_style.text_font.size_unit|escape_attr }};  
    display: inline-block;
    font-weight: 900;
    text-transform: {{ module.blog_type_style.text_transform }};
    padding: 5px 10px;
    letter-spacing: 1.92px;
}
@media(max-width:992px) {
    .blog_listing-section{
        {{ module.styles.spacing.spacing_tablet.css }}

    }


}
@media(max-width:778px) {
    .blog_listing-section{

        {{ module.styles.spacing.spacing_mobile_.css }}
    }

}
@media(max-width:375px){
    .blog-title h3 {
    font-size: 28px;
    line-height: 30.2px;
}
}


{% end_scope_css %}
</style>
{% end_require_css %}