{% set my_tags = blog_tags("default", 250) %}

{% set currentURL = content.absolute_url|regex_replace("^(http|https):", "") %}

<ul class="atri-tags">
    <li><a href="/tag/alzheimers-therapeutic-research-institute">ATRI</a></li>
  <li><a href="/tag/faculty-researchers">ATRI Faculty &amp; Researchers</a></li> 
  <li><a href="/tag/understanding-the-disease">Understanding the Disease</a></li>
  <li><a href="/tag/alzheimers-studies">Alzheimer’s Studies</a></li>
  <li><a href="/tag/approved-treatments">Approved Treatments</a></li>
</ul>

