
<!-- Module Styles -->

<style>
  .modal-body {
font-family: {{ module.style.text.txt_font.font }}; 
  font-style: {{ module.style.text.txt_font.style }}; 
  color: {{ module.style.text.txt_font.color }}; 
  font-size: {{ module.style.text.txt_font.size }}{{module.style.text.txt_font.size_unit }};
}
  
  </style>

<div class="row mb-4">
    <div class="col text-center">
      <a href="#" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#largeModal">Click to open Modal</a>
    </div>
  </div>
  

<!-- large modal -->
<div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      <div class="modal-body">
          <div class="row">
          
            
            {% for item in module.column %}

            <div class="col">
                {% inline_rich_text field="text" value="{{ item.text }}" %}
                
              
              {% set href = item.linkgroup.url.url.href %}
                {% if item.linkgroup.url.url.type is equalto "EMAIL_ADDRESS" %}
                  {% set href = "mailto:" + href %}
                {% endif %}
                <a href="{{ href }}" class="button" role="button"
                  {% if item.linkgroup.url.open_in_new_tab %}target="_blank"{% endif %}
                  {% if item.linkgroup.url.rel %}rel="{{ item.linkgroup.url.rel }}"{% endif %}
                  >
                   {{ item.linkgroup.link_text }}

                </a>
            </div>
            {% endfor %}
            
            
            
          </div>

        
      </div>
    </div>
  </div>
</div>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://unpkg.com/popper.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js'></script>
  