@import url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css");

.close {
  right: 0;
  text-align:right;
    margin-right: 10px;
    margin-top: 10px;
  color:white;
}

.close:hover {
  color:white;
}


.modal-content { 
  background-image:linear-gradient(91deg, #9a1b1e 1%, #482365 56%, #00a9c3 100%)!important;
  font-family: 'national', helvetica, arial, sans-serif; 
  font-size:28px;
  line-height:28px;
  border-bottom:10px solid #FFCC26;
}
.col {padding:4%;}

.hs_cos_wrapper_type_inline_rich_text {
  padding-bottom:40px;
}

.button {
  color: white;
  font-size:18px;
}

.button::after {
  display:inline-block;
    content: "→";
    height: 24px;
    width: 24px;
    background: #900;
    text-align: center;
    border-radius: 100px;
    vertical-align: middle;
    font-size: 13px;

}

.button:hover {
  color: white;
  text-decoration:none;
}

.button:hover::after {
    margin-left: 10px;
}