.hs-search-results__listing {
  margin: 0;
  padding: 0;
  list-style: none;
}
.hs-search-results__listing li {
  margin: 0;
  padding: 0;
}
.hs-search-highlight {
  font-weight: bold;
}
.hs-search-results__prev-page {
  float: left;
}
.hs-search-results__next-page {
  float: right;
}

.search__no-results{
  font-size: 42px;
  text-align: center;
  height: 300px;
  display: none;
  justify-content: center;
  align-items: center;
  line-height: 60px;
  color: #8E8D89;
}
.blog-title a h3{
  color: #373633 !important;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 43.2px;
  margin: 0;

}



.blog-content-wrapper{
  padding: 15px 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}