{% set my_tags = blog_tags( module.select_blog) %}

<div class="fullwidth">
  <div class="wrapper">
    <div class="search-result-temp ">
      <h5> Search results for: <span class="search-input">"{{ request.query_dict.term|escape }}"</span></h5>
    </div>

    <div class="hs-search-results">
      <template class="hs-search-results__template">
        <div class="blog-list_wrapper">
          <div class="blog-feature-image hs-search-results__featured-image">
            <img src="">

          </div>
          <div class="blog-content-wrapper">

            <div class="blog-title">
              <a href="#" class="hs-search-results__title">
                <h3>
                  Content Title </h3>
              </a>
            </div>
          </div>
        </div>
      </template>

      <ul id="hsresults" class="hs-search-results__listing blog-list_container"></ul>
      <div class="error">

      </div>
      <div class="hs-search-results__pagination" data-search-path="{{ request.path|escape_url }}">
        <a href="" class="hs-search-results__prev-page"></a>
        <a href="" class="hs-search-results__next-page"></a>
      </div>
    </div>
  </div>

</div>