/* Blog Header */

.blog-search {
  background-color: transparent;
  border: none;
  margin-left: auto;
  max-width: 300px;
  padding: 0;
}

.blog-search form {
  align-items: center;
  background-color: transparent;
  border: 0;
  display: flex;
  flex-direction: row;
  padding: 0;
}

.blog-search form label {
  flex-shrink: 0;
  margin-right: 1.5rem;
}

.blog-search form button {
  margin-bottom: 0;
  padding: 12px 20px;
}

@media (max-width: 767px) {
  .blog-tag-filter,
  .blog-search {
    margin: 0 auto 1.5rem;
  }
}

/* Blog Author/Tag Content */

.blog-subheader {
  margin: 3rem 0;
}

.blog-subheader__author-links {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.blog-subheader__author-links a {
  border-radius: 50%;
  display: inline-block;
  height: 40px;
  margin: 0 10px;
  position: relative;
  width: 40px;
}

.blog-subheader__author-links a:first-of-type {
  margin-left: 0;
}

.blog-subheader__author-links a svg {
  fill: #fff;
  height: 15px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
}

/* Blog Listing */

.blog-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blog-index__post {
  border: 2px solid #eff7fe;
  margin-bottom: 2.8rem;
}

.blog-index__post--card {
  width: calc(50% - 1.5rem);
}

.blog-index__post--list {
  display: flex;
  padding: 1.5rem 0;
  width: 100%;
}

@media (max-width: 767px) {
  .blog-index__post--card {
    width: 100%;
  }

  .blog-index__post--list {
    padding: 0 0 1.5rem;
  }
}

.blog-index__post-image--card {
  display: block;
  height: auto;
  width: 100%;
}

.blog-index__post-content--card {
  padding: 1.5rem 1.5rem 0;
}

.blog-index__post-image-wrapper--list,
.blog-index__post-content--list {
  width: 50%;
}

@media (max-width: 767px) {
  .blog-index__post-content--list {
    padding: 1.5rem 1.5rem 0;
  }
}

.blog-index__post-content--full-width--list.blog-index__post-content--full-width {
  width: 100%;
}

.blog-index__post-image-wrapper--list {
  align-items: center;
  display: flex;
  margin: 0 30px;
  max-height: 100%;
  overflow: hidden;
  position: relative;
}

@media (max-width: 767px) {
  .blog-index__post-image-wrapper--list {
    margin: 0;
    width: 100%;
  }
}

.blog-index__post-image--list {
  height: auto;
  position: absolute;
  width: 100%;
}

@media (max-width: 767px) {
  .blog-index__post-image--list {
    position: static;
  }
}

.blog-index__post-content {
  margin: 0 30px;
}

.blog-index__post-title a {
  font-weight: inherit;
}

.blog-index__post-title a:hover,
.blog-index__post-title a:focus {
  font-weight: inherit;
  text-decoration: none;
}

.blog-index__post-tags {
  border-bottom: 2px solid #eff7fe;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
}

.blog-index__post-tag-link,
.blog-index__post-tag-link:hover {
  font-weight: 300;
}

@media (max-width: 767px) {
  .blog-index__post--list {
    flex-wrap: wrap;
  }

  .blog-index__post-content--list {
    margin-left: 0;
    width: 100%;
  }
}

.blog-index__post-author-image-wrapper,
.blog-post__author-image-wrapper {
  display: inline-block;
  height: 45px;
  margin-right: 10px;
  vertical-align: middle;
  width: 45px;
}

.blog-index__post-author-image,
.blog-post__author-image {
  border-radius: 50%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .blog-index__post-author-image-wrapper,
  .blog-index__post-author-image,
  .blog-post__author-image-wrapper,
  .blog-post__author-image {
    height: auto;
  }
}

.blog-index__post-author,
.blog-post__author,
.blog-index__post-date {
  display: block;
  margin-bottom: 1.5rem;
}

/* Blog Pagination */

.blog-pagination {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 2.8rem;
  text-align: center;
}

.blog-pagination__link {
  display: inline-flex;
  margin: 0 0.35rem;
  padding: 0.35rem 0.7rem;
  text-decoration: none;
}

.blog-pagination__link--active {
  border-radius: 50%;
}

.blog-pagination__link:hover,
.blog-pagination__link:focus {
  text-decoration: none;
}

.blog-pagination__prev-link,
.blog-pagination__next-link {
  align-items: center;
  display: inline-flex;
}

.blog-pagination__prev-link {
  margin-right: 0.25rem;
  text-align: right;
}
.blog-pagination__next-link {
  margin-left: 0.25rem;
  text-align: left;
}

.blog-pagination__prev-link--disabled,
.blog-pagination__next-link--disabled {
  cursor: default;
  pointer-events: none;
}

.blog-pagination__prev-link svg,
.blog-pagination__next-link svg {
  fill: #00326d;
  margin: 0 5px;
}

/* Blog Post */

.blog-post {
  margin-top: 60px;
  position: relative;
}

.blog-post__header {
  margin-bottom: 1.5rem;
}

.blog-post__tags {
  margin-bottom: 0.7rem;
}

.blog-post__tag-link {
  display: inline-block;
  margin-right: 30px;
}

.blog-post__tag-link:hover,
.blog-post__tag-link:focus,
.blog-post__tag-link:active {
  text-decoration: none;
}

.blog-post__meta {
  margin-bottom: 1.5rem;
}

.blog-post__date {
  border-right: 2px solid;
  display: inline-block;
  margin-right: 10px;
  padding-right: 10px;
}

.blog-post__social-sharing .social-links {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.blog-post__social-sharing .social-links__icon {
  display: inline-block;
  margin: 0 0.7rem 0.35rem 0;
  padding: 0.7rem;
}

.blog-post__social-sharing .social-links svg {
  height: 15px;
  width: auto;
}

@media screen and (min-width: 1300px) {
  .blog-post__social-sharing .social-links {
    display: inline-flex;
    flex-direction: column;
  }
  .blog-post__social-sharing {
    left: -7rem;
    margin-bottom: 0;
    position: absolute;
    text-align: left;
    top: 9rem;
  }
}

.blog-post__author-name--bottom {
  display: inline-block;
  vertical-align: middle;
}

.blog-post__author-name--bottom,
.blog-post__author-links--bottom {
  margin-bottom: 1rem;
}

.blog-post__author-links--bottom a:not(:last-of-type) {
  margin-right: 0.5rem;
}

.blog-post__author-links--bottom a:hover {
  text-decoration: none;
}

.blog-post__author-name--bottom:hover,
.blog-post__author-name--bottom:focus,
.blog-post__author-name--bottom:active {
  text-decoration: none;
}

.blog-post__image-wrapper {
  height: 200px;
  margin: 3rem 0;
  position: relative;
  width: 100%;
}

@media screen and (min-width: 786px) {
  .blog-post__image-wrapper {
    height: 420px;
  }
}

.blog-post__image {
  border-radius: 18px;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .blog-post__image-wrapper,
  .blog-post__image {
    height: auto;
  }
}

.blog-post__comments-listing {
  margin-bottom: 5.6rem;
}

.comment {
  padding-top: 2em;
}

#comments-listing .comment-reply-to:hover,
#comments-listing .comment-reply-to:focus,
#comments-listing .comment-reply-to:active {
  background-color: transparent;
  border: none;
}

.blog-post__author--bottom {
  display: flex;
  margin: 75px 0;
}

@media screen and (max-width: 1000px) {
  .blog-post__author--bottom {
    flex-direction: column;
    margin: 3rem 0;
  }
}

.blog-post__author-image--bottom {
  border-radius: 50%;
  flex: 0 0 auto;
  height: 150px;
  margin-right: 10px;
  overflow: hidden;
  width: 150px;
}

.blog-post__author-image--bottom img {
  height: 100%;
  width: auto;
}

.blog-post__author-image--bottom ~ .blog-post__author-about {
  margin-left: 35px;
}

@media screen and (max-width: 1000px) {
  .blog-post__author-image--bottom ~ .blog-post__author-about {
    margin-left: 0;
    margin-top: 1.5rem;
  }
}
