<div class="blogSection fullwidth">
  <div class="wrapper">
<div class="blogListing blogListTop fullwidth">
  <div class="blogListStick">
  <div class="blogListInn">
    
  {% for content in contents %}
    {% if loop.index < 4 %}
    <div class="blogItem blogItem{{ loop.index }}">
      <div class="blogImages">
       <a href="{{ content.absolute_url }}" class="blogbg" style="background-image:url({{ content.featured_image }});"></a>    
      </div>
      <div class="BlogContent">
        
        <h3><a href="{{ content.absolute_url }}">{{ content.name }}</a></h3>
        <div class="BlogcBt">
          <div class="BlogDate">
          {% set day = content.publish_date_local_time.strftime('%e') %}
             {% if day >= 4 and day <= 20 %}
                {% set day = day + "th" %}
             {% elif day >= 24 and day <= 30 %}
                {% set day = day + "th" %}
             {% elif day == 1 or day == 21 or day == 31 %}
                {% set day = day + "st" %}
             {% elif day == 2 or day == 22 %}
                {% set day = day + "nd" %}
             {% elif day == 3 or day == 23 %}
                {% set day = day + "rd" %}
             {% endif %}
           {{ content.publish_date_local_time.strftime('%B') }} <span class='day'>{{ day }}</span>, {{ content.publish_date_local_time.strftime('%Y') }}

          </div>
          <div class="BlogView">
            <a href="{{ content.absolute_url }}">View <span><svg viewBox="0 0 32 32" class="icon icon-arrow-right" viewBox="0 0 32 32" aria-hidden="true"><path d="M5.975 17.504l14.287.001-6.367 6.366L16.021 26l10.004-10.003L16.029 6l-2.128 2.129 6.367 6.366H5.977z"/></svg></span></a>
          </div>
        </div> 
      </div>
    </div>
    {% endif %}
  {% endfor %}
    
    </div>
</div>
</div>
    
    
<div class="blogListing blogListBot fullwidth">

  {% for content in contents %}
    {% if loop.index > 3 %}
    <div class="blogItem blogItem{{ loop.index }} fullwidth">
      <div class="blogImages">
       <a href="{{ content.absolute_url }}" class="blogbg" style="background-image:url({{ content.featured_image }});"></a>    
      </div>
      <div class="BlogContent">
        
        <h3><a href="{{ content.absolute_url }}">{{ content.name }}</a></h3>
        <div class="BlogcBt">
          <div class="BlogDate">
          {% set day = content.publish_date_local_time.strftime('%e') %}
             {% if day >= 4 and day <= 20 %}
                {% set day = day + "th" %}
             {% elif day >= 24 and day <= 30 %}
                {% set day = day + "th" %}
             {% elif day == 1 or day == 21 or day == 31 %}
                {% set day = day + "st" %}
             {% elif day == 2 or day == 22 %}
                {% set day = day + "nd" %}
             {% elif day == 3 or day == 23 %}
                {% set day = day + "rd" %}
             {% endif %}
           {{ content.publish_date_local_time.strftime('%B') }} <span class='day'>{{ day }}</span>, {{ content.publish_date_local_time.strftime('%Y') }}

          </div>
          <div class="BlogView">
            <a href="{{ content.absolute_url }}">View <span><svg viewBox="0 0 32 32" class="icon icon-arrow-right" viewBox="0 0 32 32" aria-hidden="true"><path d="M5.975 17.504l14.287.001-6.367 6.366L16.021 26l10.004-10.003L16.029 6l-2.128 2.129 6.367 6.366H5.977z"/></svg></span></a>
          </div>
        </div>  
      </div>
    </div>
  {% endif %}
  {% endfor %}
</div>
    
</div>  
</div>
