<div class="bloghead fullwidth">
  <div class="wrapper">
    <div class="bloghTitle">
      <h1>{{ module.content.title }}</h1>
    </div>
  </div>
</div>
{% require_css %}
   <style>
     .bloghead { {{ module.style.spacing_desktop.css }}  }

     @media(max-width:991px){
       .bloghead { {{ module.style.spacing_tablet.css }} }
     
     }
     @media(max-width:767px){
       .bloghead { {{ module.style.spacing_mobile_.css }}  }
     
     }
   </style>
{% end_require_css %}