.select-dropdown {
    position: relative;
    display: inline-block;
    max-width: 100%;
}

.select-dropdown__button,
.search-container,
.blog-search-filters-section,
.blog-filter-section,
.search-container-form,
.no-result-container-temp,
.blog-filter-section,
.select-dropdown__button div,
.chevron-down {
    display: flex;

}

.select-dropdown__list a {
    display: inline;

}

.blog-search-filters-section,
.blog-search-filters-section,
.search-container,
.select-dropdown__button {
    justify-content: space-between;
}

.search-container-input,
.select-dropdown__button,
.select-dropdown__button:hover,
.select-dropdown__button:focus {
    border: none;
    outline: none;

}

.select-dropdown__button,
.select-dropdown__button:hover,
.select-dropdown__button:focus {
    color: #8E8D89;

}

.select-dropdown__button,
.select-dropdown__button:hover,
.select-dropdown__button:focus,
.select-dropdown__list-item,
.search-container {
    border-bottom: 1.5px solid #D0D5DD;

}

.select-dropdown__button:hover {
    color: #000000cc;
}

/* .select-dropdown__list-item:hover */
.selected,
.search-container.focused {
    border-bottom: 1.5px solid #900 !important;
}

.select-dropdown__list-item,
.select-dropdown__list {
    display: block;

}

.select-dropdown__button:hover,
.select-dropdown__button:focus {
    background-color: transparent;


}

.select-dropdown__button div,
.blog-search-icon {
    max-width: 30px;
    max-height: 30px;
}

.select-dropdown__button div img,
.search-container img,
.blog-filter-section,
.chevron-down img {
    width: 100%;
    height: 100%;
}

.selected::before,
.mobile-selected::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url("https://7222284.fs1.hubspotusercontent-na1.net/hubfs/7222284/x-circle.svg");
    background-size: cover;
}

.selected,
.mobile-selected {
    position: relative;

}

.select-dropdown__button {
    background-color: #fff;
    border-radius: 0;
    cursor: pointer;
    width: 210px;
    margin: 0;
    padding: 15px 0px;
}

.select-dropdown__list,
.select-dropdown__list-item {
    list-style-type: none;

}

.search-result h5 {
    margin: 0;
    color: #373633;
    font-size: 28px;
}

.search-input {
    color: #000;
    text-transform: lowercase;
}

.search-result {
    padding: 25px 0 50px;
    display: none;
}

.search-container-input {
    border: none !important;
    padding: 0 !important;
    font-family: "National" !important;
    text-transform: uppercase;
    letter-spacing: 1.92px;
    font-weight: 600 !important;
    color: #000 !important;

}

.select-dropdown__list {
    position: absolute;
    left: 0;
    right: 0;
    max-height: 300px;
    overflow: auto;
    margin: 0;
    padding: 0;
    opacity: 0;
    pointer-events: none;
    transform-origin: top;
    transform: scale(1, 0);
    transition: all ease-in-out 0.3s;
    z-index: 2;
    background-color: #fff;
}

.select-dropdown__list.active {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1, 1);
}

.blog-content-wrapper {
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.select-dropdown__list-item:last-child {
    margin-bottom: 0;
}

.blog-feature-image {
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.blog-feature-image a,
.blog-feature-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.select-dropdown__list-item {
    text-transform: capitalize;
}

.error-msg span {
    font-size: 14px;
    color: #DB0303;
}

.error-msg {
    padding-top: 4px;
    display: none;

}

.select-dropdown__list-item {
    padding: 10px 15px;
    margin: 0;
    font-size: 14px;
    line-height: 1.4;
    cursor: pointer;
    color: #616161;
    transition: all ease-in-out 0.3s;
}

.select-dropdown__list-item:hover,
.selected {
    background: #eae3dc8d;
}

.blog-filter-section {
    gap: 4%;
}

.chevron-down {
    max-width: 20px;
    max-height: 20px;
}

.select-dropdown__button span {
    letter-spacing: 2px;
    font-size: 16px;
    display: inline-block;
    width: 200px;
    font-family: "National";
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.blog-search-filters-section {
    align-items: end;
    margin-bottom: 40px;
}

.blog-list_wrapper:hover .blog-feature-image a img {
    transform: scale(1.1);
    filter: brightness(1);

}

.blog-type-wrapper,
.blog-title h3,
.blog-feature-image a img {
    transition: .5s ease-in-out !important;
}

.blog-feature-image a img {
    transform: scale(1);
    filter: brightness(.9);
}

.blog-list_wrapper:hover .blog-type-wrapper,
.blog-list_wrapper:hover .blog-title a h3,
.mobile-selected {
    color: #990000 !important;
}

.search-container {
    gap: 10px;
    padding: 0 0px 5px 0;
}

.blog-search_section {
    width: 25%;
}

.blog-list_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.blog-list_wrapper {
    border: 1px solid #BFBEBB;

}


.blog-title h3 {
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 43.2px;
    margin: 0;
    color: #373633 !important;
}


.select-dropdown__button.active-btn {
    border-bottom: 1px solid #990000;
}

.select-dropdown__button.active-btn span {
    color: #000;

}

.select-dropdown__button div img {
    transition: all 0.5s linear;

}

.search-container-form {
    background-color: transparent;
    padding: 0 !important;
    width: 100%;
}

.rotate-icon {
    transition: all 0.5s linear;
    transform: rotate(180deg);
}

/* @media (max-width: 991px) {
    .blog_listing-section .wrapper {
        max-width: 1350px;
    }
}

@media (max-width: 1220px) {
    .blog_listing-section .wrapper {
        max-width: 1350px;
    }
} */
.blog-search-filter_mobile {
    display: none;
}

.search-modal,
.filter-modal,
.no-result-container {
    display: none;
}

.no-result-container,
.no-result-container-temp {

    font-size: 42px;
    text-align: center;
    height: 300px;
    justify-content: center;
    align-items: center;
    line-height: 60px;
    color: #8E8D89;
}


@media(max-width:999px) {

    .blog-list_container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:990px) {

    .blog-feature-image {
        height: 200px;

    }
}


@media(max-width:768px) {
    .modal-open {
        overflow: hidden;
    }


    .blog-list_container {
        grid-template-columns: 1fr;
    }

    .modal-search-icon {
        cursor: pointer;
    }

    .blog-search-filter_desktop {
        display: none;
    }

    .blog-feature-image {
        height: 318px;

    }

    .blog-search-filter_mobile {
        display: flex;
        justify-content: end;
        gap: 20px;
        margin-bottom: 40px;
    }

    .modal-toggle,
    .filter-modal_toggle {
        display: block;
    }

    .close-icon,
    .filter-close-icon {
        cursor: pointer;

    }

    .search-modal.modal-toggle,
    .filter-modal.filter-modal_toggle {
        animation: slideInFromRight 0.5s linear;
    }

    @keyframes slideInFromRight {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(0%);
        }
    }

    .search-modal,
    .filter-modal {
        height: 550px;
        background: #ffffff;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        width: 330px;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1;
    }

    .filter-modal {
        height: 100% !important;
        overflow: auto;
        padding-bottom: 40px;
    }

    .filter-modal::-webkit-scrollbar {
        display: none;
    }

    .search-header h3 {
        margin: 0;
    }

    .modal-search_btn {
        margin: 0;
    }

    .search-header,
    .filter-header {
        display: flex;
        justify-content: space-between;
        padding: 30px 30px 15px;
        align-items: baseline;

    }

    .close-icon,
    .filter-close-icon {
        max-width: 30px;
        max-height: 30px;
    }

    .close-icon img,
    .filter-close-icon img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .blog-search-filter-btn {
        background-color: transparent !important;
        border: 1px solid #d8c3a4 !important;
        color: #373633 !important;
        text-align: center;
        font-family: National !important;
        font-size: 16px;
        font-style: normal !important;
        font-weight: 800 !important;
        line-height: normal;
        letter-spacing: 1.92px;
        text-transform: uppercase;
        border-radius: 0;
        padding: 10px 40px;
        outline: none;
        margin-bottom: 0;
    }

    .horizontal-line {
        background-color: #BFBEBB;
        height: 1px;
        width: 100%;
    }

    .blog-modal-search_section {
        width: 100%;
        padding: 0 0 100px;
    }

    body.modal-open {
        overflow: hidden;
    }

    .blog-search-section-container,
    .blog-filter-section-container {
        padding: 30px 30px 0;

    }

    .blog-modal_topic-list,
    .blog-modal_type-list {
        list-style: none;
        display: flex;
        flex-direction: column;
        padding: 20px 0 30px;
        gap: 10px;
        margin: 0;
    }

    .blog-modal_topic-list li,
    .blog-modal_type-list li {
        margin: 0;
        font-size: 18px;
        cursor: pointer;
        text-transform: capitalize;
    }

    .blog-modal_topic-filter span,
    .blog-modal_type-filter span {
        background: transparent;
        border: none;
        display: inline-block;
        color: #000;
        margin: 0;
        padding: 0 0 10px;
        border-bottom: 1px solid #BFBEBB;
        border-radius: 0;
        width: 100%;
        font-family: "National";
        font-size: 22px;
        font-style: normal;
        font-weight: 480;
        line-height: 28.1px;

    }

    .btn-bg {
        background-color: #EAE3DC !important;
    }
}

@media(max-width:590px) {
    .blog-feature-image {
        height: 250px;
    }
}

@media(max-width:400px) {
    .blog-feature-image {
        height: 200px;
    }
}

@media(max-width:350px) {
    .blog-search-filter-btn {

        padding: 10px 30px;
    }

}

@media (max-width: 364px) {
    .blog-feature-image {
        height: 185px;
    }

    .blog-content-wrapper {
        padding: 15px 15px !important;
    }
}

@media (max-width: 375px) {
    .blog-search-filter_mobile {
        gap: 10px;
    }
}

@media (max-width: 340px) {
    .blog-feature-image {
        height: 163px;
    }
}