<!--
    templateType: blog_post
    isAvailableForNewContent: true
    label: Blog post New search and filtering
-->
{% set template_css = "../../css/templates/blog-template-2023.css" %}
{% extends "./layouts/base.html" %}

{% block body %}
<main class="body-container-wrapper">
  <div>
    {% module "module_17123091436151" path="../modules/blog-post-content", label="blog-post-banner" %}
  </div>
  <div>
    {% module "module_17123091708053" path="../modules/blog-related-resources", label="blog-related-resources" %}

  </div>
</main>
{% endblock body %}