<!--
  templateType: blog_post
  isAvailableForNewContent: true
  label: ATRI - blog post
  
-->
{% set template_css = "../../css/templates/blog.css" %}
{% extends "./layouts/base.html" %}

{% block body %}
<main class="body-container-wrapper">
  <div class="body-container body-container--blog-post">
      <div class="blogInnersection fullwidth">
        <div class="wrapper">
          <div class="blogInnerPost flexwrap">
            
            <div class="blogInnerleft">
              <div class="blogInnerTitle">
                <h1> {{ content.name }} </h1>
                <div class="blogBackMain">
                  <a href="{{ group.absolute_url }}">back to all news</a>
                </div>
              </div>
              
            </div>
            
            <div class="blogInnerright">
              <div class="blogInnerimages">
                <div class="blogInnerbg" style="background-image:url('{{ content.featured_image }}');background-position:center;"> </div>  
              </div>
              <div class="blogInnersumm">
                {{ content.post_body }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</main>
{% endblock body %}
