<!--
  templateType: blog_post
  isAvailableForNewContent: true
  label: ATRI - Blog Post - 2023 update
  
-->
{% set template_css = "../../css/templates/blog-template-2023.css" %}
{% extends "./layouts/base.html" %}

{% block body %}
<main class="body-container-wrapper">
  <div class="body-container body-container--blog-post">
      <div class="blogInnersection fullwidth">
        <div class="title-wrapper">
           <div class="title">
             <h1> {{ content.name }} </h1>
           </div>
        </div>
        <div class="content-wrapper">
              <div class="featured-image-wrapper">
                <div class="blogInnerbg" style="background-image:url('{{ content.featured_image }}');background-position:center;"> </div>  
              </div>
              <div class="blogInnersumm">
                {{ content.post_body }}
              </div>
              <div class="blogBackMain">
                 <a href="{{ group.absolute_url }}">back to all news</a>
              </div>
        </div>
      </div>
    </div>

</main>
{% endblock body %}
