<!--
  templateType: blog_listing
  isAvailableForNewContent: true
  label: ATRI - blog listing new
-->
{% set template_css = "../../css/templates/blog.css" %}
{% extends "./layouts/base.html" %}

{% block body %}
<main class="body-container-wrapper">
  {% dnd_area "dnd_area"
    label="Main section",
    class="body-container body-container--blog-index"
  %}
  
  
  {# Blog Heading #}
    {% dnd_section
      padding={
        "top": 0,
        "right": 0,
        "bottom": 0,
        "left": 0
      },
      vertical_alignment="TOP"
    %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module path="../modules/Blog Heading - Theme" %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      <div> 
    
  </div>
  
        {% dnd_row %}
          {% dnd_module path="../modules/blog-tag-filter" %}

          {% end_dnd_module %}

        {% end_dnd_row %}

      {% end_dnd_column %}
    {% end_dnd_section %}
    {# End Blog Heading #}


    {# Blog Listings and Pagination #}
    {% dnd_section
      padding={
        "top": 0,
        "right": 0,
        "bottom": 0,
        "left": 0
      },
      vertical_alignment="TOP"
    %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module path="../modules/blog-listings-with-tags" %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module path="../modules/blog-pagination" %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    {# End Blog Listings and Pagination #}

  {% end_dnd_area %}
</main>
{% endblock body %}
