<!--
  templateType: page
  isAvailableForNewContent: true
  label: SCervice LP
-->
{% extends "./layouts/base-lp.html" %}

{% block body %}
<main>
  {% dnd_area "dnd_area_main_banner" label="Main Content" %}

    {# Banner Section #}
    {% dnd_section
      background_image= {
        "backgroundPosition": "MIDDLE_CENTER",
        "backgroundSize": "cover",
        "imageUrl": get_asset_url("../images/home-banner.jpg")
      },
      vertical_alignment="MIDDLE"
    %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module path="@hubspot/rich_text" %}
            {% module_attribute "html" %}
              <div style="text-align: center;">
                <h1 style="color: #ffffff">Meet our team</h1>
                <p style="color: #ffffff">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam laoreet sapien sed efficitur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam laoreet sapien sed efficitur.</p>
              </div>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    {# End Banner Section #}

    {# Who we are section #}
    {% dnd_section %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module path="@hubspot/rich_text" %}
            {% module_attribute "html" %}
              <h2 style="text-align: center;">Who we are</h2>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_column width=6, offset=0 %}
            {% dnd_row %}
              {% dnd_module path="@hubspot/rich_text" %}
                {% module_attribute "html"%}
                  <h3>We are a creative, energetic group</h3>
                  <p>Morbi et dolor est. Donec at dolor vehicula, molestie erat non, rutrum tellus.
                  Vestibulum in eros non augue convallis pulvinar. Aliquam erat volutpat. Cras interdum
                  felis at sem pharetra, sed convallis elit auctor. Nulla semper ut ante eu dapibus. Mauris
                  dui orci, pulvinar sit amet ligula vel. </p>

                  <p> Suspendisse faucibus ullamcorper massa, nec eleifend ante imperdiet in.
                  Aliquam consequat bibendum ante, vitae placerat odio gravida eu. Maecenas
                  eleifend est risus, sed luctus neque faucibus sit amet.</p>

                  <ul>
                    <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum, dolorum</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, illo!</li>
                    <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit, accusamus.</li>
                  </ul>
                {% end_module_attribute %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}

          {% dnd_column width=6, offset=6 %}
            {% dnd_row
              padding={
                "top": 15
              }
            %}
              {% dnd_module
                path="@hubspot/linked_image",
                img={
                  "alt": "group of employees looking at screen",
                  "loading": "disabled",
                  "max_height": 484,
                  "max_width": 727,
                  "size_type": "auto_custom_max",
                  "src": get_asset_url("../images/employees.jpg")
                }
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}

    {# Headshot card section #}
    {% dnd_section
      max_width=1160
    %}
      {% dnd_column %}
        {% dnd_row
          vertical_alignment="TOP"
        %}
          {% dnd_module
            path="../modules/headshot-card",
            width=4,
            offset=0,
            headshot={
              "loading": "lazy",
              "src": get_asset_url("../images/headshot_1.png")
            }
            %}
          {% end_dnd_module %}
          {% dnd_module
            path="../modules/headshot-card",
            width=4,
            offset=4,
            headshot={
              "loading": "lazy",
              "src": get_asset_url("../images/headshot_2.png")
            },
            human_name="Alex Portino",
            title="VP of Learning"
          %}
          {% end_dnd_module %}
          {% dnd_module
            path="../modules/headshot-card",
            width=4,
            offset=8,
            headshot={
              "loading": "lazy",
              "src": get_asset_url("../images/headshot_3.png")
            },
            human_name="John Filingo",
            title="Director of Academics"
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}


    {# How we work section 1 #}
    {% dnd_section %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module path="@hubspot/rich_text" %}
            {% module_attribute "html" %}
              <h2 style="text-align: center;">How we work</h2>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}

        {% dnd_row
          padding={
            "top": 80
          }
        %}
          {% dnd_column width=6, offset=0 %}
            {% dnd_row %}
              {% dnd_module path="@hubspot/rich_text" %}
                {% module_attribute "html"%}
                  <h3>We are a creative, energetic group</h3>
                  <p>Morbi et dolor est. Donec at dolor vehicula, molestie erat non, rutrum tellus.
                  Vestibulum in eros non augue convallis pulvinar. Aliquam erat volutpat. Cras interdum
                  felis at sem pharetra, sed convallis elit auctor. Nulla semper ut ante eu dapibus. Mauris
                  dui orci, pulvinar sit amet ligula vel. </p>

                  <p> Suspendisse faucibus ullamcorper massa, nec eleifend ante imperdiet in.
                  Aliquam consequat bibendum ante, vitae placerat odio gravida eu. Maecenas
                  eleifend est risus, sed luctus neque faucibus sit amet.</p>

                  <ul>
                    <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum, dolorum</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, illo!</li>
                    <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit, accusamus.</li>
                  </ul>
                {% end_module_attribute %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}

          {% dnd_column width=6, offset=6 %}
            {% dnd_row %}
              {% dnd_module
                path="@hubspot/linked_image",
                img={
                  "alt": "group of employees looking at screen",
                  "loading": "lazy",
                  "max_height": 484,
                  "max_width": 727,
                  "size_type": "auto_custom_max",
                  "src": get_asset_url("../images/employees.jpg")
                }
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
        {% end_dnd_row %}

        {% dnd_row
          padding={
            "top": 80
          }
        %}
          {% dnd_column width=6, offset=0 %}
            {% dnd_row %}
              {% dnd_module
                path="@hubspot/linked_image",
                img={
                  "alt": "group of employees looking at screen",
                  "loading": "lazy",
                  "max_height": 484,
                  "max_width": 727,
                  "size_type": "auto_custom_max",
                  "src": get_asset_url("../images/employees.jpg")
                }
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}

          {% dnd_column width=6, offset=6 %}
            {% dnd_row %}
              {% dnd_module path="@hubspot/rich_text" %}
                {% module_attribute "html"%}
                  <h3>We are a creative, energetic group</h3>
                  <p>Morbi et dolor est. Donec at dolor vehicula, molestie erat non, rutrum tellus.
                  Vestibulum in eros non augue convallis pulvinar. Aliquam erat volutpat. Cras interdum
                  felis at sem pharetra, sed convallis elit auctor. Nulla semper ut ante eu dapibus. Mauris
                  dui orci, pulvinar sit amet ligula vel. </p>

                  <p> Suspendisse faucibus ullamcorper massa, nec eleifend ante imperdiet in.
                  Aliquam consequat bibendum ante, vitae placerat odio gravida eu. Maecenas
                  eleifend est risus, sed luctus neque faucibus sit amet.</p>

                  <ul>
                    <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum, dolorum</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, illo!</li>
                    <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit, accusamus.</li>
                  </ul>
                {% end_module_attribute %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
        {% end_dnd_row %}

        {% dnd_row
          padding={
            "top": 80
          }
        %}
          {% dnd_column width=6, offset=0 %}
            {% dnd_row %}
              {% dnd_module path="@hubspot/rich_text" %}
                {% module_attribute "html"%}
                  <h3>We are a creative, energetic group</h3>
                  <p>Morbi et dolor est. Donec at dolor vehicula, molestie erat non, rutrum tellus.
                  Vestibulum in eros non augue convallis pulvinar. Aliquam erat volutpat. Cras interdum
                  felis at sem pharetra, sed convallis elit auctor. Nulla semper ut ante eu dapibus. Mauris
                  dui orci, pulvinar sit amet ligula vel. </p>

                  <p> Suspendisse faucibus ullamcorper massa, nec eleifend ante imperdiet in.
                  Aliquam consequat bibendum ante, vitae placerat odio gravida eu. Maecenas
                  eleifend est risus, sed luctus neque faucibus sit amet.</p>

                  <ul>
                    <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum, dolorum</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, illo!</li>
                    <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit, accusamus.</li>
                  </ul>
                {% end_module_attribute %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}

          {% dnd_column width=6, offset=6 %}
            {% dnd_row %}
              {% dnd_module
                path="@hubspot/linked_image",
                img={
                  "alt": "group of employees looking at screen",
                  "loading": "lazy",
                  "max_height": 484,
                  "max_width": 727,
                  "size_type": "auto_custom_max",
                  "src": get_asset_url("../images/employees.jpg")
                }
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
        {% end_dnd_row %}

      {% end_dnd_column %}
    {% end_dnd_section %}



    {# Call to Action Section #}
    {% dnd_section
    %}
      {% dnd_column %}
        {% dnd_row
          background_color="#EFF7FF",
          padding={
            "top": 67,
            "right": 22,
            "bottom": 67,
            "left": 22
          }
        %}
          {% dnd_column
            offset=0,
            width=5
          %}
            {% dnd_row %}
              {% dnd_module path="@hubspot/linked_image",
                img={
                  "alt": "Woman working on her computer",
                  "loading": "lazy",
                  "max_height": 318,
                  "max_width": 450,
                  "size_type": "auto_custom_max",
                  "src": get_asset_url("../images/call-to-action.png")
                }
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
          {% dnd_column
            offset=5,
            width=6
          %}
            {% dnd_row %}
              {% dnd_module path="@hubspot/rich_text" %}
                {% module_attribute "html" %}
                  <h4>Want more info?</h4>
                  <h2>See How Sessions Can Change Your Life</h2>
                {% end_module_attribute %}
              {% end_dnd_module %}
            {% end_dnd_row %}
            {% dnd_row %}
              {% dnd_module
                  path="../modules/button",
                  button_text="Let's Chat"
                %}
                {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    {# End Call to Action Section #}

  {% end_dnd_area %}
</main>


{% endblock body %}
