<!--
  templateType: page
  isAvailableForNewContent: true
  label: Session - search results
  screenshotPath: ../../images/template-previews/search-results.png
-->
{% set template_css = "../../css/templates/system.css" %}
{% extends "./layouts/base.html" %}
{% block body %}

<main class="body-container-wrapper">
  <section class="wrapper">
    <div>
      {% module "module_17139791682961" path="/ATRI Theme/modules/New-blog-heading Theme", label="New-blog-heading Theme" %}
    </div>
    <div>
      {% module "module_17140291567961" path="/ATRI Theme/modules/blogs-new-filter", label="blogs-new-filter" %}
    </div>
    <div class="">
      {% module "module_17138779988282" path="/ATRI Theme/modules/search_results", label="search_results" %}
    </div>
  </section>
</main>
{% endblock body %}