{% set my_tags = blog_tags( module.select_blog) %}
{% set all_blog_posts = blog_recent_posts(module.select_blog) %}
{% set resource_types = [] %}
{% set search_page = module.results.use_custom_search_results_template is truthy and module.results.path_id ?
content_by_id(module.results.path_id).absolute_url : site_settings.content_search_results_page_path %}

{% unless (search_page is string_containing "//") %}
{% set search_page = "/" ~ search_page %}
{% endunless %}

{% set search_page = search_page|regex_replace("http:", "") %}
{% set table = hubdb_table_rows( module.resource_type  ) %}

{% set currentURL = content.absolute_url|regex_replace('^(http|https):', '') %}

<div class="blog_listing-section fullwidth">
    <div class="wrapper">
        <div class="blog-search-filters-section blog-search-filter_desktop">
            <div class="blog-filter-section">
                <div class="blog-topic-filter">
                    <div class="blog-topic-filter_container">
                        <div class="select-dropdown">
                            <button href="#" role="button" data-value="" class="select-dropdown__button"
                                id="selectedTagButton"><span>Resource
                                    topic</span>
                                <div class="dropdown-icon-topic">
                                    <img src="https://5887777.fs1.hubspotusercontent-na1.net/hubfs/5887777/Icon.svg"
                                        alt="" srcset="">
                                </div>
                            </button>
                            <ul class="select-dropdown__list">
                                {% for tag in my_tags %}
                                </li>
                                    <li class="select-dropdown__list-item" data-value="{{ tag }}" ><span>
                                        {{ tag }}   
                                    </span>
                                </li>
                                
                                {% endfor %} 
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="blog-type-filter">
                    <div class="blog-topic-filter_container">
                        <div class="select-dropdown">
                            <button href="#" role="button" data-value=""
                                class="select-dropdown__button"><span>Resource
                                    Type</span>
                                <div class="dropdown-icon">
                                    <img src="https://5887777.fs1.hubspotusercontent-na1.net/hubfs/5887777/Icon.svg"
                                        alt="" srcset="">
                                </div>
                            </button>
                            <ul class="select-dropdown__list">
                                {% for row in table %}
                                <li data-value=" {{ row.filter.label }}" class="select-dropdown__list-item">
                                    {{ row.filter.label }}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blog-search_section hs-search-field">
                <div class="search-container hs-search-field__bar" id="searchContainer">
                    <form data-hs-do-not-collect="true" action="{{ search_page }}" class="search-container-form">

                        <input class="search-container-input hs-search-field__input" type="text" name="" id="searchInput" placeholder="Search" name="term" autocomplete="off" >
                        {% if module.content_types.website_pages %}
                        <input type="hidden" name="type" value="SITE_PAGE">
                      {% endif %}
                      {% if module.content_types.landing_pages %}
                        <input type="hidden" name="type" value="LANDING_PAGE">
                      {% endif %}
                      {% if module.content_types.blog_posts %}
                        <input type="hidden" name="type" value="BLOG_POST">
             <!--            <input type="hidden" name="type" value="LISTING_PAGE"> -->
                      {% endif %}
                      {% if module.content_types.knowledge_articles %}
                        <input type="hidden" name="type" value="KNOWLEDGE_ARTICLE">
                      {% endif %}

                        <div class="blog-search-icon">
                            <img src="https://5887777.fs1.hubspotusercontent-na1.net/hubfs/5887777/search.svg" class="search-icon"  alt="">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class=" blog-search-filter_mobile">
            <div class="blog-filter_mobile">
                <button href="#" role="button" data-value=""
                    class="blog-search-filter-btn modal-filterBtn"><span>Filter</span>
            </div>
            <div class=" blog-search_mobile">
                <button href="#" role="button" class="blog-search-filter-btn modal-searchBtn"
                    data-value=""><span>Search</span>
                </button>
            </div>
        </div>
        <div class="search-modal">
            <div class="search-header">
                <h3>
                    Search
                </h3>
                <div class="close-icon">
                    <img src="https://7222284.fs1.hubspotusercontent-na1.net/hubfs/7222284/x.svg" alt="">
                </div>

            </div>
            <div class="horizontal-line"></div>
            <div class="blog-search-section-container">
                <div class="blog-search_section blog-modal-search_section">
                    <div class="search-container hs-search-field__bar" id="searchContainer" id="mobile-searchContainer">
                        <form data-hs-do-not-collect="true" action="{{ search_page }}" class="search-container-form">
                            <input class="search-container-input abc hs-search-field__input" type="text" name="" id="searchInput" placeholder="Search" name="term" autocomplete="off" id="mobile-search-input">
                            {% if module.content_types.website_pages %}
                            <input type="hidden" name="type" value="SITE_PAGE">
                          {% endif %}
                          {% if module.content_types.landing_pages %}
                            <input type="hidden" name="type" value="LANDING_PAGE">
                          {% endif %}
                          {% if module.content_types.blog_posts %}
                            <input type="hidden" name="type" value="BLOG_POST">
                 <!--            <input type="hidden" name="type" value="LISTING_PAGE"> -->
                          {% endif %}
                          {% if module.content_types.knowledge_articles %}
                            <input type="hidden" name="type" value="KNOWLEDGE_ARTICLE">
                          {% endif %}

    
                            <div class="blog-search-icon">
                                <img src="https://5887777.fs1.hubspotusercontent-na1.net/hubfs/5887777/search.svg" class="modal-search-icon"  alt="">
                            </div>
                        </form>
                    </div>

                    <!-- <div class="search-container" id="mobile-searchContainer">
                        <input class="search-container-input" type="text" name="" id="mobile-search-input"
                            placeholder="Search">
                        <div class="blog-search-icon">
                            <img src="https://5887777.fs1.hubspotusercontent-na1.net/hubfs/5887777/search.svg" class="modal-search-icon search-icon"
                                alt="">
                        </div>
                    </div>
                    <div class="error-msg">
                        <span>Please enter a search term.</span>

                    </div> -->
                </div>

                <div>
                    <button href="#" role="button" class="blog-search-filter-btn modal-search_btn"
                        data-value=""><span>Search</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="filter-modal">
            <div class="filter-header">
                <h3>
                    Filter Results
                </h3>
                <div class="filter-close-icon">
                    <img src="https://7222284.fs1.hubspotusercontent-na1.net/hubfs/7222284/x.svg" alt="">
                </div>

            </div>
            <div class="horizontal-line"></div>
            <div class="blog-filter-section-container">
                <div class=" blog-modal-filter_section">
                    <div class="blog-modal_topic-filter">
                        <span>Resource
                            topic</span>
                        <ul class="blog-modal_topic-list">
                            {% for tag in my_tags %}
                            <li class="modal-select-dropdown__list-item" data-value="{{tag}}">{{ tag }}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="blog-modal_type-filter">
                        <span>Resources
                            Type</span>
                        <ul class="blog-modal_type-list">
                            {% set resource_types = [] %}
                            {% for content in contents %}
                            {% for module in content.widgets %}
                            {% set resource_type = module.body.blog_resource_type | lower %}
                            {% if resource_type and resource_type not in resource_types %}
                            {% set _ = resource_types.append(resource_type) %}
                            <li data-value="{{ resource_type }}" class="modal-select-dropdown__list-item-type">{{ resource_type }}</li>
                            {% endif %}
                            {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div>
                    <button href="#" role="button" class="blog-search-filter-btn modal-filter_btn"
                        data-value=""><span>Filter</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="search-result">
            <h5>
                Search results for: <span class="search-input"></span>
            </h5>

            
        </div>
        <div class="no-result-container">
          <span class="no-result"></span>
        </div>
    </div>
</div>


{% require_css %}
<style>
    {% scope_css %}


.select-dropdown__button span {
    text-transform: {{ module.text_transform }};

}




@media(max-width:992px) {
  


}
@media(max-width:778px) {
   

}
@media(max-width:375px){

}


{% end_scope_css %}
</style>
{% end_require_css %}