@font-face {
    font-family: 'National';
    src: url('https://f.hubspotusercontent40.net/hubfs/21078696/ATRI%20Theme/Fonts/National-Regular.eot');
    src: url('https://f.hubspotusercontent40.net/hubfs/21078696/ATRI%20Theme/Fonts/National-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://f.hubspotusercontent40.net/hubfs/21078696/ATRI%20Theme/Fonts/National-Regular.woff2') format('woff2'),
        url('https://f.hubspotusercontent40.net/hubfs/21078696/ATRI%20Theme/Fonts/National-Regular.woff') format('woff'),
        url('https://f.hubspotusercontent40.net/hubfs/21078696/ATRI%20Theme/Fonts/National-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Copyright Klim Type Foundry';
    src: url('https://f.hubspotusercontent40.net/hubfs/21078696/ATRI%20Theme/Fonts/National-Extrabold.eot');
    src: url('https://f.hubspotusercontent40.net/hubfs/21078696/ATRI%20Theme/Fonts/National-Extrabold.eot?#iefix') format('embedded-opentype'),
        url('https://f.hubspotusercontent40.net/hubfs/21078696/ATRI%20Theme/Fonts/National-Extrabold.woff2') format('woff2'),
        url('https://f.hubspotusercontent40.net/hubfs/21078696/ATRI%20Theme/Fonts/National-Extrabold.woff') format('woff'),
        url('https://f.hubspotusercontent40.net/hubfs/21078696/ATRI%20Theme/Fonts/National-Extrabold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'National';
    src: url('https://f.hubspotusercontent40.net/hubfs/21078696/ATRI%20Theme/Fonts/National-Medium.eot');
    src: url('https://f.hubspotusercontent40.net/hubfs/21078696/ATRI%20Theme/Fonts/National-Medium.eot?#iefix') format('embedded-opentype'),
        url('https://f.hubspotusercontent40.net/hubfs/21078696/ATRI%20Theme/Fonts/National-Medium.woff2') format('woff2'),
        url('https://f.hubspotusercontent40.net/hubfs/21078696/ATRI%20Theme/Fonts/National-Medium.woff') format('woff'),
        url('https://f.hubspotusercontent40.net/hubfs/21078696/ATRI%20Theme/Fonts/National-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'National';
    src: url('https://f.hubspotusercontent40.net/hubfs/21078696/ATRI%20Theme/Fonts/National-Bold.eot');
    src: url('https://f.hubspotusercontent40.net/hubfs/21078696/ATRI%20Theme/Fonts/National-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://f.hubspotusercontent40.net/hubfs/21078696/ATRI%20Theme/Fonts/National-Bold.woff2') format('woff2'),
        url('https://f.hubspotusercontent40.net/hubfs/21078696/ATRI%20Theme/Fonts/National-Bold.woff') format('woff'),
        url('https://f.hubspotusercontent40.net/hubfs/21078696/ATRI%20Theme/Fonts/National-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
  line-height: 1.5;
  overflow-wrap: break-word;
}

html[lang^='ja'] body,
html[lang^='zh'] body,
html[lang^='ko'] body {
  line-break: strict;
  overflow-wrap: normal;
  word-break: break-all;
}

/* Paragraphs */

p {
  font-size: 1rem;
  margin: 0 0 1.5rem;
}

strong {
  font-weight: 800;
}

/* Links */

a {
  cursor: pointer;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
  margin: 0 0 1.5rem;
}

h1 {
  font-size: 62px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 20px;
  letter-spacing: 1.18px;
}

h5 {
  font-size: 20px;
  letter-spacing: 1.18px;
}

h6 {
  font-size: 18px;
  letter-spacing: 1.06px;
}

/* Lists */

ul li,
ol li {
  font-size: 1rem;
  line-height: 2;
}

ul ul,
ol ul,
ul ol,
ol ol {
  padding-left: 2.8rem;
}

ul.no-list {
  list-style: none;
}

/* Code Blocks */

code {
  vertical-align: bottom;
}

/* Blockquotes */

blockquote {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0;
  margin: 0;
  padding: 1.5rem 2.8rem;
}

/* Horizontal Rules */

hr {
  border: 0 none;
  border-bottom: 2px solid;
}

/* Subscripts and Superscripts */

sup,
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Focus State */

:focus {
  outline: auto;
}

.disable-focus-styles :focus {
  outline: none;
}
