<!-- module html  -->
<div class="blog-heading fullwidth">
    <div class="wrapper">
      <div class="blog_title"> 
        {% if module.content.title %}
        <h1>{{ module.content.title }}</h1>
        {% endif %}
        {% if module.content.sub_title %}
        <div class="blog_dis">
            {{ module.content.sub_title }}
        </div>
        {% endif %}
      </div>
    </div>
  </div>  
  {% require_css %}
     <style>
        .blog_dis{
            line-height: 1.25;
            width: 65%;
            color: {{ module.content.sub_title_font.color|escape_attr }}; 
            font-size: {{ module.content.sub_title_font.size|escape_attr }}{{module.content.sub_title_font.size_unit|escape_attr }};       
         }

         .blog_title h1{
          font-family: "passion one";
          text-transform: {{ module.content.text_transform }};
          font-size: 72px;
          font-weight: 500;
          line-height: 65px;
          margin: 0;
          padding: 0px 0 15px;
            {% if module.content.title_font.color %}
            color: {{ module.content.title_font.color|escape_attr }}; 
            {% endif %}
            {% if module.content.title_font.size %}
            font-size: {{ module.content.title_font.size|escape_attr }}{{module.content.title_font.size_unit|escape_attr }};
            {% endif %}

         }

        .blog_title{
            text-align:  {{ module.content.title_alignment }} ;
        }
      
       .blog-heading { {{ module.style.spacing_desktop.css }}  }
  
       @media(max-width:991px){
         .blog-heading { {{ module.style.spacing_tablet.css }} }
       
       }
       @media(max-width:769px){
        .blog_dis{
            width: 100%;
        
        }
         .blog-heading { {{ module.style.spacing_mobile_.css }}  }
       
       }

       @media(max-width:520px){
        .blog_title h1 {
         font-size: 60px;
         line-height: 65px;
         letter-spacing: 1.2px;

        }
       }
     </style>
  {% end_require_css %}

  

  