/*Social Icons Start*/

.social-links {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.social-links__icon {
    background-color: rgba(255, 255, 255,0.0);
    border-radius: 50px;
}
a.social-links__link span {
    line-height: 0;
}

.social-links__icon {
    display: inline-block;
    margin: 0 0.2rem 0.35rem 0;
    padding: 0.7rem;
}

.social-links__icon svg {
    fill: #000 !important;
    width: 20px;
    height: 20px;
}

.social-links__icon:hover, .social-links__icon:focus, .social-links__icon:active {
    background-color: rgba(0, 0, 0,0.16) !important;
}
/*Social Icons End*/

.footLogo {
    max-width: 230px;
    padding: 10px;
}


.footer-25 {
    width: 25%;
}

@media (max-width: 1250px) {
  .footer-25 {
    width: 100%;
    padding: 10px;
}
}
