<!-- module html  -->
<!-- banner -->
<!-- module html  -->
<div class="blog-post_banner fullwidth">
    <div class="wrapper">
        <div class="banner-wrapper">
            <div class="banner_content">
                <div class="banner-resource-type">

                    <span>
                        {{ module.resource_type.columns.resource_type}}

                    </span>

                </div>
                <div class="blog_banner-title">
                    <h1>
                        {{content.name }}
                    </h1>
                </div>
            </div>
            {% if module.select_blog_type_template =="normal-template"  %}
            <div class="banner-image">
                <img src="{{ content.featured_image }}" alt="">
            </div>
            {% endif %}
        </div>
    </div>
</div>
<p class="visiblity">++++++++++++++++</p>
{% if module.select_blog_type_template == "video_template" %}
{% set youtube_id = module.video.youtube_video_link.split('=')[1].split('&')[0] %}
<div class="video-template">
    <div class="wrapper video-container-wrapper" >
        <div class="video-container ">
            {% if module.video.select_blog_video_link == "youtube-link"%}
            <div class="thumbnail-overlay" id="play-button">
                <img src="{{ content.featured_image }}" alt="Custom Thumbnail">
                <div class="play-icon"></div>
            </div> 
            <iframe id="video-iframe" src="https://www.youtube.com/embed/{{ youtube_id }}" frameborder="0"
            allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            {% endif %}
            {% if module.video.select_blog_video_link == "normal-link"%}
            <iframe id="video-iframe" src="{{ module.video.normal_video_link }}" frameborder="0"
            allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            {% endif %}
        </div>
    </div>

</div>
{% endif %}

<div class="blogInnersumm blog-content_wrapper">
    <div class="wrapper">
        {{ content.post_body }}
    </div>
  </div>


{% require_css %}
<style>
{% scope_css %}

.blog-post_banner{
{% if module.style.background.backgrund_type == "color" and   module.style.background.section_background_color.color %}
background-color: rgb({{  module.style.background.section_background_color.color | convert_rgb }}, {{  module.style.background.section_background_color.opacity / 100 }});
{% elif module.style.background.backgrund_type == "gradient" %}
background: {{module.style.background.gradient_field.css }};
{% elif module.style.background.backgrund_type == "image" %}
{{ module.style.background.section_background_image.css }};
{% endif %} 
{{ module.style.spacing_desktop.css}};

}
.blog-post_banner{
    {% if module.select_blog_type_template =="video_template" %}
    padding-bottom: 25px !important;
    margin-bottom:30px;
    {% endif %}
}
.banner_content {
    {% if content.featured_image and module.select_blog_type_template =="normal-template" %}
    width: 45%;
    gap: 20px;
    {% else %}
    width:100%;
    gap:100px;
    {% endif %}
}

.video-container iframe{
    width: 80%;
    margin: auto;
    display: flex;
    /* padding: 30px 0 20px; */
    height: 520px;

}

.video-template {
    width: 100%;
    max-width: 950px; /* Adjust as needed */
    margin: 0 auto;
    
}

.video-container-wrapper{
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 aspect ratio */
    overflow: hidden;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.thumbnail-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
{% if module.video.need_overlay %}
.thumbnail-overlay::before{
    background-color: rgba(0, 0, 0, 0.5); 
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
  
}
{% endif %}
.thumbnail-overlay img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-container iframe {
    width: 100%;
    height: 100%;
}
.play-icon {
    width: 60px; 
    height: 70px;
    background-image: url('{{ module.video.play_icon.src|escape_url }}'); /* Replace with your play icon image */
    background-size: cover;
    position: absolute;
    cursor: pointer;
}


.blog-content_wrapper {
    {% if module.select_blog_type_template =="video_template" %}
    width: 70%;
    {% else %}
    width: 80%;
    {% endif %}
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.banner-resource-type span {
    opacity: {{ module.style.blog_resource_type_color_settings.background_color.opacity }};
    background-color: {{module.style.blog_resource_type_color_settings.background_color.color }};
    text-transform: {{module.style.blog_resource_type_color_settings.text_transform}};
    font-weight: 600;
    font-size: {{ module.style.blog_resource_type_color_settings.blog_resource_type_font.size|escape_attr }}{{module.style.blog_resource_type_color_settings.blog_resource_type_font.size_unit|escape_attr }};
    color: {{ module.style.blog_resource_type_color_settings.blog_resource_type_font.color|escape_attr }};
}

.banner_content h1 {
    text-wrap: balance;
    color: {{ module.style.blog_title_color_settings.blog_title_type_font.color|escape_attr }}; 
    font-size: {{ module.style.blog_title_color_settings.blog_title_type_font.size|escape_attr }}{{module.style.blog_title_color_settings.blog_title_type_font.size_unit|escape_attr }};
    text-transform: {{ module.style.blog_title_color_settings.text_transform }};
}
.blog-content_wrapper .hs_cos_wrapper h1,.blog-content_wrapper .hs_cos_wrapper h2,
.blog-content_wrapper .hs_cos_wrapper h3,
.blog-content_wrapper .hs_cos_wrapper h4{
    color: #000000;
    font-weight: 400;
}
.blog-content_wrapper .hs_cos_wrapper p{
       color: #373633;
    }


.video-template{
    padding-bottom: 35px;
}

  
  @media(max-width:991px){
    .blog-post_banner{ {{ module.style.spacing_tablet.css }} }
  
  }
  @media(max-width:767px){

    .blog-post_banner { {{ module.style.spacing_mobile_.css }}  }
  
  }
  @media(max-width:768px){
    
.blog-content_wrapper {
   width: 95%;
}
.blog-post_banner{
    {% if module.select_blog_type_template =="video_template" %}
    margin-bottom:0px;
    {% endif %}
}

.video-template{
    padding-bottom: 0;
    width: 95%;
}

  }
  @media(max-width:659px) {
    .blog_banner-title h1 {
        font-size: 48px;
        line-height: 1.2;
    }
    .video-template {
        padding: 0 20px;

    }
    .play-icon {
    width: 40px;
    height: 47px;
}
    .blog-content_wrapper .hs_cos_wrapper h1{
        font-size: 32px;
        font-weight: 500;
        line-height: 40px;
    }
    .blog-content_wrapper .hs_cos_wrapper h1 {
            font-size: 32px;
            font-weight: 500;
            line-height: 40px;
        }
        .blog-content_wrapper .hs_cos_wrapper h2 {
            font-size: 28px;
            font-weight: 500;
            line-height: 35px;
        }
        .blog-content_wrapper .hs_cos_wrapper h3 {
            font-size: 28px;
            font-weight: 500;
            line-height: 35px;
        }

}

@media(max-width:1220px) {
    .banner_content h1 {
        font-size: 60px
    }
}
@media(max-width:1200px) {
    .banner_content h1 {
        font-size: 48px;
    line-height: 51px;
    }
}


@media(max-width:360px) {
    .blog_banner-title h1 {
        font-size: 35px;
        line-height: 40px;
    

    }

}


{% end_scope_css %} 
</style>
{% end_require_css %}





