.banner-wrapper {
    display: flex;
    gap: 5%;
}

.banner-image {
    width: 50%;
    height: 100%;
}

.banner-image img {
    width: 100%;
    max-height: 390px;
    object-fit: contain;
}

.blog-post_banner .wrapper {
    padding: 0 30px;
}

.banner_content h1 {
    line-height: 76px;
    font-family: 'Passion One' !important;
    font-weight: 400;
    margin: 0;
    margin-bottom: -18px;
}

.banner-resource-type span {
    letter-spacing: 1.92px;
    padding: 3px 10px;

}

.banner_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


@media(max-width:992px) {
    .banner-wrapper {
        flex-direction: column;
        gap: 20px;
    }

    .banner_content {
        gap: 80px !important;
    }

    .banner-image,
    .banner_content {
        width: 100% !important;

    }

    .banner_content h1 {
        margin-bottom: 0;
    }
}